## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [4]:
import pandas as pd
import numpy as np

In [7]:
data = {'國家': ['中國',"印度","韓國",'埃及'],
        '人口': [1395380000,1359820000,5117100,98148000] }
data = pd.DataFrame(data)

In [10]:
data

   國家          人口
0  中國  1395380000
1  印度  1359820000
2  韓國     5117100
3  埃及    98148000

In [13]:
data['國家'].loc[data['人口'].argmax()]

C:\Users\KAI\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'argmax' is deprecated, use 'idxmax' instead. The behavior of 'argmax'
will be corrected to return the positional maximum in the future.
Use 'series.values.argmax' to get the position of the maximum now.
  """Entry point for launching an IPython kernel.

'中國'